nav{
    /* display: inline; */
box-sizing: border-box;
    background-color:  rgb(25, 25, 105);
    height: 90px;
}
.link{
    display: inline;
    margin-right: 35px;
    position: relative;
    top: 10px;
    left: 210px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    
}
a{
    color: rgba(255, 255, 255, 0.863);
    text-decoration: unset;
}
a:hover{
    color:#f7b600;
}
.logo{
  position: relative;
  top: 25px;
  left: 105px;
    height: 40px;
    width: 125px;
}

.search{
    height: 40px;
    width: 40px;
   position: relative;
   top: 25px;
   left: 260px;
  
}
.yellowSlider{
    height: 5px;
    background-color: rgb(255, 187, 0);
    position: relative;
    top: 45px;

}
.tri{
    width: 20px;
    height: 12px;
    position: relative;
    top: 49px;
    left: 400px;
    visibility: hidden;
    
}